<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"> <!-- bean definitions here -->


    <bean id="accountService" class="com.binyu.service.impl.AccountService"></bean>

    <bean id="logger" class="com.binyu.utils.Logger"></bean>
    <!--配置aop-->
    <aop:config>
        <!--配置切面-->
<!--        <aop:aspect id="logAdvice" ref="logger">-->
<!--            <aop:before method="printLog" pointcut="execution(*  com.binyu.service.impl.*.*(..))"></aop:before>-->
<!--        </aop:aspect>-->
       <aop:aspect id="logAdvice2" ref="logger">
           <aop:around method="aroundPrintLog" pointcut="execution(*  com.binyu.service.impl.*.*(..))"></aop:around>
       </aop:aspect>
    </aop:config>
</beans>